/////////////////
//  Variables  //
/////////////////

// Colors
$background: #282828;
$bgdark: #32302f;
$drgray: #504945;
$brgray: #928374;
$text: #d4be98;
$brred: #e78a4e;
$drred: #c14a4a;
$brblue: #7daea3;
$bryellow: #d8a657;
$dryellow: #a96b2c;
$brgreen: #a9b665;
$brcyan: #89b482;
$brmagenta: #d3869b;

// Sizes
$iconsize: 20px;
$fontsize: 16px;
$bordersize: 3px;

///////////
//  bar  //
///////////

* {
  all: unset;
  font-size: $fontsize;
  font-family: JetBrains Mono Nerd Font;
  font-weight: 500;
}

.bar label {
  text-shadow: 2px 2px 2px #1f1f1f;
}

.bar {
  background-color: $background;
  color: $text;
  opacity: 1;

  padding: 10px;
  border-bottom: $bordersize solid $drgray;
}

.bar > * {
  margin-top: -3px;
}

.icon {
  font-size: $iconsize;
}

//  menu

.menu {
  transition: 0.3s all;
}

.menu > box {
  padding-left: 8px;
}

.menu:hover {
  background-color: $bgdark;
  border-bottom: $bordersize solid $brgreen;
}

.menu:hover > box {
  padding-right: 8px;
}

.menu label,
.menu button {
  font-size: 23px;
  margin-left: 8px;
  margin-right: 8px;
  transition: 0.1s;
}

.menu .shutdown {
  color: $brred;
}

.menu .reboot {
  color: $bryellow;
}

.menu .logout {
  color: $brgreen;
}

.menu button:hover {
  color: $text;
}

//  Workspaces

.workspace_window {
  background-color: transparent;
  color: transparent;
}

.workspaces button:hover {
  color: $text;
}

.workspaces * {
  font-size: 19px;
  margin-top: 3px;
  margin-right: 5px;
  margin-left: 5px;
}

.workspaces button {
  transition: 0.1s;
}

.workspaces .free {
  color: $drgray;
}

.workspaces .focused {
  color: $brred;
}

.workspaces .occupied {
  color: $brred;
}

//  stats and other colorchanging icons

.stats {
  transition: 0.3s all;
}

.stats > box {
  padding-left: 10px;
  padding-right: 10px;
}

.stats:hover {
  background-color: $bgdark;
  border-bottom: $bordersize solid $brcyan;
}

.stats > box > * {
  margin: 0px 8px 0px 8px;
}

.ram_icon {
  font-size: 22;
}

.disk_empty,
.disk_good,
.disk_warn,
.disk_full,
.disk_good,
.temp_crit,
.temp_high,
.temp_med,
.temp_low {
  font-size: $iconsize;
}

.ram_full,
.ram_warn,
.ram_good {
  font-size: 24px;
}

.temp_low {
  color: $brblue;
}

.ram_good,
.disk_good {
  color: $brgreen;
}

.battery_charging,
.battery_full,
.battery_high,
.battery_med,
.battery_low,
.battery_crit {
  margin-left: 5px;
}

.battery_charging,
.battery_med,
.battery_low,
.battery_crit {
  margin-right: 10px;
}

.battery_crit,
.ram_full,
.temp_crit {
  color: $drred;
}

.battery_low,
.disk_full,
.temp_high {
  color: $brred;
}

.battery_med,
.disk_warn,
.ram_warn,
.temp_med {
  color: $bryellow;
}

.battery_charging,
.disk_empty {
  color: $brgreen;
}

//Wifi

.wifi * {
  transition: 0.3s all;
}

.wifi box {
  margin-right: 5px;
}

.wifi > box > * {
  margin-left: 5px;
  margin-right: 5px;
}

.wifi revealer > label {
  margin-left: 10px;
}

.wifi:hover {
  background-color: $bgdark;
  border-bottom: $bordersize solid $brgreen;
}

.wifi:hover box {
  padding-right: 12px;
  padding-left: 10px;
}

//  Slider stuff

.volume_icon {
  font-size: 22px;
  margin-left: 5px;
  margin-right: 5px;
}

.rev_slider {
  transition: 0.3s all;
}

.rev_slider box {
  margin-left: 5px;
  margin-right: 5px;
}

.rev_slider .icon {
  margin-left: 5px;
  margin-right: 5px;
}

.rev_slider:hover {
  background-color: $bgdark;
  border-bottom: $bordersize solid $brred;
}

.rev_slider scale trough highlight {
  all: unset;
  background-color: $brred;
  border-radius: 10px;
}

.rev_slider scale trough {
  all: unset;
  background-color: $drgray;
  border-radius: 50px;
  min-height: 8px;
  min-width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.clock {
  margin-right: 10px;
  color: $text;
}

//  Music player

.music {
  transition: 0.3s all;
  color: $bryellow;
}

.music .icon {
  padding-left: 15px;
  font-size: 22px;
}

.music:hover {
  background-color: $bgdark;
  border-bottom: 3px solid $bryellow;
}

.music .player {
  transition: 0.3s all;
  margin: 0px 5px 0px 5px;
}

.music .player * {
  font-size: 25px;
}

.music .player:hover {
  color: $text;
}

////////////
//  dock  //
////////////

.dock {
  margin-bottom: 8px;
  padding: 10px;
  border-radius: 15px;
  transition: 0.3s all;
}

.dock_trigger:hover .dock {
  background-color: $background;
}

.dock * {
  font-size: 35px;
  margin-left: 15px;
  margin-right: 15px;
}

.dock *:hover {
  color: $text;
}

.dock .firefox {
  color: $brred;
}

.dock .files {
  color: $brcyan;
}

.dock .spotify {
  color: $brgreen;
}

.dock .term {
  color: $brmagenta;
}

.dock .gh {
  color: $bryellow;
}

.dock .mail {
  color: $drred;
}
